@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}

.card {
  width: 550px;
  height: 425px;
  border-radius: 10px;
  margin: 0 auto;
}

.pict {
  background-image: url(images/image-product-desktop.jpg);
  background-size: cover;
  width: 50%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  float: left;
}

.info {
  width: 50%;
  height: 100%;
  float: right;
  border-radius: 0 10px 10px 0;
  padding: 25px;
  background-color: white;
}

p {
  font-size: 14px;
}

.product-type {
  font-family: Montserrat, sans-serif;
  color: hsl(228, 12%, 48%);
  letter-spacing: 5px;
}

.product-name {
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
}

.description {
  font-family: Montserrat, sans-serif;
  color: hsl(228, 12%, 48%);
}

.price {
  display: block;
}

.disc-price {
  font-family: "Fraunces", serif;
  font-size: 28px;
  color: hsl(158, 36%, 37%);
  margin-right: 20px;
}

.normal-price {
  font-family: Montserrat, sans-serif;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  float: right;
  line-height: 34px;
  margin-right: 40px;
}

.button {
  display: inline-block;
  width: 100%;
  padding: 5px;
  background-color: hsl(158, 36%, 37%);
  border-radius: 5px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.button img {
  height: 15px;
  margin-right: 10px;
  margin-top: 5px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
